<!--div style="color: black; background-color:white; height: 100%"-->
<br/>
<br/>
  <h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', '/admin' %>

<!--/div-->