<div style="color: black; background-color:white; height: 100%">

<h1> Login </h1>

<%= render 'form' %>

<%#= link_to 'Back', root_url %>
<br/>
<!--%#=  link_to 'Create New User', new_user_url %-->

</div>